extends ../shared/template

block content
  h2 Task List

  #list-task
    #new-task
      form(method='POST', action='/tasks')
        input(type='text', name='title', placeholder='Title', autofocus=true)
        input(type='date', name='due')
        select(name='priorityId')
          each priority in priorities
            option(value=priority._id)= priority.name
        button Add

    table#tasks
      thead
        tr
          th
            a(href="/tasks/sort/complete") Status
          th
            a(href='/tasks/sort/name') Name
          th
            a(href='/tasks/sort/date') Due Date
          th Priority
          th Delete
      tbody
        each task in tasks
          tr(style='background:#{task.priority.color};', class=task.isComplete ? 'done' : 'ongoing')
            td
              form.task(method='POST', action='/tasks/#{task._id}')
                input(type='hidden', name='_method', value='PUT')
                input(type='checkbox', checked=task.isComplete)
            td= task.title
            td= task.due.toDateString()
            td
              a(href='/tasks/filter/#{task.priorityId}')= task.priority.name
            td
              form(method='POST', action='/tasks/#{task._id}')
                input(type='hidden', name='_method', value='DELETE')
                button.fa.fa-trash-o.fa-lg
