extends ../shared/template

block content
  h2 Priority List

  #list-priority
    #new-priority
      form(method='POST', action='/priorities')
        input(type='text', name='name', placeholder='Name', autofocus=true)
        label Color:
        input(type='color', name='color')
        button Add

    table#priorities
      thead
        tr
          th Name
          th Color
          th Delete
      tbody
        each priority in priorities
          tr(style='background: #{priority.color};')
            td= priority.name
            td= priority.color
            td
              form(method='POST', action='/priorities/#{priority._id}')
                input(type='hidden', name='_method', value='DELETE')
                button.fa.fa-trash-o.fa-lg
